<ion-header>
        <ion-navbar>
          <ion-title>Lista de Posts</ion-title>
        </ion-navbar>
      </ion-header>

      <ion-card>
        <ion-card-header>
          <h3> Items</h3>
        </ion-card-header>
        <ion-card-content>
          
        </ion-card-content>
      </ion-card>
      
      <ion-content padding>
        <ion-list>
          <ion-list-header>Lista de Posts</ion-list-header>
          <ion-item>
              "userId": 1
          </ion-item>
          <ion-item>
              "title": "sunt aut facere repellat provident occaecati excepturi optio reprehenderit",
            </ion-item>
          <ion-item>
              "body": Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius quod odio co
          </ion-item>
          <ion-item>
            <ion-icon name="ionic" item-start></ion-icon>
            @ionicframework
          </ion-item>
        </ion-list>
      </ion-content>
      