      <ion-header>
        <ion-navbar>
          <ion-title>Lista de Posts</ion-title>
        </ion-navbar>
      </ion-header>
      
      <ion-content padding>
          <!-- <ion-searchbar
          [(ngModel)]="myInput"
          [showCancelButton]="shouldShowCancel"
          (ionInput)="onInput($event)"
          (ionCancel)="onCancel($event)">
          </ion-searchbar> -->
          <ion-list-header>Lista de Posts</ion-list-header>
          <ion-content>
              <ion-list *ngFor="let post of lista | limitTo : limitePost;">
                  <ion-item>
                    <ion-avatar item-start>
                      <ion-icon style="cursor: pointer;" (click)= "verPost(post.userId)" name="eye"></ion-icon><br><br>
                      <ion-icon style="cursor: pointer;" (click)= "editarPost(post.userId)" name="clipboard"></ion-icon>
                    </ion-avatar>
                    <h2> <b>Usuario:</b>  {{ post.userId  }}  </h2>
                    <h3> <b>Titulo: </b> {{ post.title }}</h3>
                    <p> {{ post.body }}</p>
                  </ion-item>
                </ion-list>
             
              <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
                <ion-infinite-scroll-content></ion-infinite-scroll-content>
              </ion-infinite-scroll>             
            </ion-content>
      </ion-content>
      